/**
 * RESET
 * -------------------------------------------------------------
 */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* RESET CLASSI BOOTSTRAP */
.btn-secondary {
  border-radius: unset;
  padding: 0.3rem 1rem;
  text-align: left;
}
.btn-outline-secondary {
  border-radius: unset;
  color: #808080;
  border-color: #808080;
  padding: 0.5rem 1rem;
}
.btn-outline-secondary:hover {
  background-color: #fff;
  border-color: #fff;
  color: #141414;
}
.input-group-text {
  background-color: unset;
  color: unset;
  padding: 0;
  border: unset;
}
.form-check-input[type=checkbox] {
  margin-right: 0.5rem;
  border-radius: 0;
  background-color: transparent;
  border-color: rgba(128,128,128,0.2);
}
@media screen and (max-width: 980px) {
  .img-fluid {
    max-width: unset;
    width: 100%;
  }
}


/**
* UTILITY
* -------------------------------------------------------------
*/
body {
  background-color: #141414;
}
.custom-color {
  color: #808080;
}

/**
* HEADINGS
* -------------------------------------------------------------
*/
h1, h2, h3 {
  color: #fff;
}


/**
* NAVBAR
* -------------------------------------------------------------
*/
.navbar-collapse {
  flex-grow: 0;
}
.navbar-nav .nav-link {
  color: #e5e5e5;
}
.navbar-nav .nav-link.active {
  color: #fff;
  font-weight: 500;
}
.user-menu i,
.user-menu svg,
.user-menu .nav-link {
  color: #fff;
}
.user-menu .nav-link.active {
  color: #e5e5e5;
  font-weight: 500;
}
.navbar-toggler,
.navbar-toggler-icon {
  color: #fff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  /* border-color: rgba(255,255,255, 0.5); */
  border: none;
}
.navbar-toggler span {
  display: block;
  font-size: 0.7rem;
}
.navbar-toggler i {
  font-size: 0.8rem;
}

@media screen and (max-width: 991px) {
  .navbar .container {
    justify-content: flex-start;
    position: relative;
  }
  .user-menu {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.navbar-nav {
  margin-left: auto;
}


/**
* TV SHOWS
* -------------------------------------------------------------
*/
.icon {
  color: #808080;
  margin-left: auto;
}
.icon .d-flex {
  height: 25px;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  border: 1px solid #808080;
}
.icon .d-flex:first-of-type i{
  font-size: 21px;
}
.genres-wrapper {
  position: relative;
}
.list-genres {
  display: none;
  position: absolute;
  width: calc(100% + 450px);
  left: -100px;
  background-color: rgba(0,0,0,0.9);
}
.list-genres .flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.list-genres .nav {
  flex-direction: column;
}
.list-genres a {
  display: block;
  color: #fff;
  font-size: 0.8rem;
}
.list-genres a:hover {
  color: #fff;
  text-decoration: underline;
}
.genres-wrapper:hover .list-genres {
  display: block;
}


/**
* FILMS
* -------------------------------------------------------------
*/
.films img {
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: top;
}
.home .card img {
  min-height: 330px;
  object-fit: cover;
}

.home button {
  display: block;
  width: 100%;
}

button.btn-danger {
  background-color: #e52213;
}

/**
* FOOTER
* -------------------------------------------------------------
*/
.footer {
  margin-top: 6rem;
  color: #808080;
}
.footer svg {
  font-size: 22px;
}
.footer a {
  color: #808080;
  font-size: 0.8rem;
}
.footer .btn-outline-secondary {
  border-color: #808080;
  border-radius: unset;
}
.footer .copyright {
  font-size: 0.7rem;
}
@media screen and (min-width: 992px) {
  footer .container {
    max-width: 960px;
    margin-inline: auto;
    padding-inline: 1rem;
  }
}

.container-profile {
  max-width: 600px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.br {
  border-bottom: 1px solid rgba(128,128,128,0.2);
}

.navbar-nav .nav-link.active {
  color: gray;
}
.cast p {
  font-size: 0.8rem;
}
.cast span {
  color: #808080;
  font-style: italic;
}